body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}